html, body {
    padding: 0%;
    
}

img {
    max-width: 100%;
}

.page-header {
background-color:#4ea0fc;



}

.pattern {
  height: 190px;
  width: auto
  margin: 0%;

}

.grey {
color: grey;

}

.yellow {
    background: yellow;
}